{% extends 'base.html.twig' %}

{% block title %}jeu !{% endblock %}

{% block javascripts %}
  <script src="{{ asset('js/script.js') }}" defer> </script>
{% endblock %}

{% block body %}

<div id="square"></div>
  <div id="text">
    <p>Temps restant : <span id="timer">5</span> secondes</p>
  </div>

{% endblock %}

